
.headerhead {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(340deg, #6aa543 70%
  , #7ebb55 35%,  #8abf67 10%

  );
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  color:#8abf67;
  font-size:1.5rem;
  display: flex;
  }
  .plus{
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(340deg, #6aa543 70%
    , #7ebb55 35%,  #8abf67 10%
  
    );
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    color:#8abf67;
    font-size:1.5rem;
  
    }
    .headerhead2{
      background-clip: text;
      -webkit-background-clip: text;
      background-image: linear-gradient(to right, #b95c1e
      60%
      , #df8d3b
      90%
    
      );
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      color:#8abf67;
      font-size:1.2rem;
      display: flex;
      }
      .plus{
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(340deg, #6aa543 70%
        , #7ebb55 35%,  #8abf67 10%
      
        );
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        color:#8abf67;
        font-size:1.5rem;
      
        }
    

    .headerFeatures {
    
      font-weight: 400;
      font-size:1.5rem;
      justify-self: flex-start;
      
      }
      @media  screen and (max-width: 768px) {
        .headerhead2
        {
          font-size:0.65rem ;
          color:red;
      
        }
      } 
      .navbar ul li > .active {
      color:red;
      }     

    